{% extends 'catalog/base.html' %}
{% load my_tags %}


{% block content %}


<div class="container">
    <div class="col-12 mb-4">
        <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Создать продукт</a>
    </div>

    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.product_name|title }}</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.product_price }} $</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> Категория: {{ object.category }}</li>
                        {% if object.version %}
                        <li> Версия: {{ object.version|get_item:'version_name' }} - {{ object.version|get_item:'version_num' }}</li>
                        {% endif %}
                    </ul>
                    <a href={% url 'catalog:product' object.pk %} type="button" class="btn btn-lg btn-block
                    btn-outline-primary">Подробнее</a>
                    <br>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="{% url 'catalog:product_update' object.pk %}">Редактировать</a>
                        <a class="btn btn-outline-danger" href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}